body {
    font-family: sans-serif;
    line-height: 1.4;
    color: #444;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user {
    padding-bottom: 20px;
    text-align: center;
    background-color: #EEE;
    box-shadow: 0px 0px 0px #FFF;
    transition: box-shadow 0.2s ease-out;
    /* animation-name: fadeIn;
    animation-duration: 0.5s; */
}

.user:hover {
    box-shadow: 0px 0px 25px #999;
    transition: box-shadow 0.2s;
}

.userId {
    font-weight: bold;
    font-size: 1.2em;
    color: #EEE;
}

.userName:before {
    content: "Name:\00a0";
}

.userName {
    font-weight: bolder;
    font-size: 1.5em;
}

.userCity:before {
    content: "City:\00a0";
    font-weight: bold;
}

.userCountry:before {
    content: "Country:\00a0";
    font-weight: bold;
}

.userEmail:before {
    content: "Email:\00a0 ";
    font-weight: bold;
}

.userGender:before {
    content: "Gender:\00a0 ";
    font-weight: bold;
}

.userPet:before {
    content: "Pet:\00a0 ";
    font-weight: bold;
}

.userPetColour:before {
    content: "Pet Colour:\00a0";
    font-weight: bold;
}

/*@keyframes fadeIn {
 * Animation commented out because it was unknown at the time in an
 * animation like this was correct for this assignment.
    from {
        background-color: #FFF;
        color: #FFF;
    }
    to {
        background-color: #EEE:
        color: #444;
    }
}*/

 @media screen and (min-width: 1200px) {
  #main {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
        grid-gap: 40px 10px;
        justify-content: center;
    }
}
